{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div class="row">
        <div class="panel panel-success">
            <div class="panel panel-heading"><h5>Domain Hits</h5></div>
            <div class="panel panel-body justify-content-center align-items-center">
        <form method="POST" action="">
                {{ form.csrf_token }}
            {{ form.domain_name.label }}&nbsp;
            {{ form.domain_name(size=15) }}&nbsp;
            {{ form.start_date.label }}&nbsp;
            {{ form.start_date }}&nbsp;
            {{ form.end_date.label }}&nbsp;
            {{ form.end_date }}&nbsp;&nbsp;

                {{ form.submit() }}
        </form>   
    </div>
    {% if message != '' %}
    {% if message == "Error! Start date is greater than End date" %}
    <div class="panel-body panel-danger text-center bg-danger ">
        <b>{{ message }}</b>
    </div>
    {% elif message == "Zone Does Not Exist" %}
    <div class="panel-body panel-danger text-center bg-danger ">
            <b>{{ message }}</b>
    </div>
    {% else %}
    <div class="panel-body text-center panel-default bg-success ">
            <p><b>Domain: </b>{{ hits_info[0].upper() }}</p>
            <p><b>DNS Hits: </b>{{ hits_info[1] }}</p>
            <p><b>NX Count: </b>{{ hits_info[2] }}</p>
    </div>
    {% endif %}
    {% endif %}

    </div>
    <div class="panel panel-success">
        <div class="panel panel-heading"><h5>Zone Records</h5></div>
        <div class="panel panel-body">
            <form method="POST" action="">
                    {{ form1.csrf_token }}
            {{ form1.domain_name.label }}&nbsp;
            {{ form1.domain_name(size=15) }}&nbsp;&nbsp;
                {{ form1.submit() }}
        </form> 
    </div>
    {% if message2 != '' %}
        {% if message2 == "Zone Not Found" %}
        <div class="panel-body panel-danger bg-danger text-center">
            <b>{{ message2 }}</b>
        </div>
        {% else %}
    <div class="panel-body panel-danger bg-success text-center">
            <p><b>Domain: </b>{{ zone_outcome[0].upper() }}</p><br>
            <p><b>NS: </b></p>
            {% for item in zone_outcome[1] %}
            <p>{{ item['target'] }}</p>
            {% endfor %}
            <br><p><b>SOA:</b></p>
            <p>Contact: {{ zone_outcome[2]['contact'] }}</p>
            <p>Expire: {{ zone_outcome[2]['expire'] }}</p>
            <p>Minimum: {{ zone_outcome[2]['minimum'] }}</p>
            <p>OriginServer: {{ zone_outcome[2]['originserver'] }}</p>
            <p>Refresh: {{ zone_outcome[2]['refresh'] }}</p>
            <p>Retry: {{ zone_outcome[2]['retry'] }}</p>
            <p>TTL: {{ zone_outcome[2]['ttl'] }}</p>
            {% if zone_outcome[3] %}
            <br>
            <p><b>MX:</b></p>
            {% for item in zone_outcome[3] %}
            <p><b>Active:</b> {{ item['active'] }}</p>
            <p><b>Name: </b>{{ item['name'] }}</p>
            <p><b>Priority: </b>{{ item['priority'] }}</p>
            <p><b>Target:</b> {{ item['target'] }}</p>
            <p><b>TTL:</b> {{ item['ttl'] }}</p>
            {% endfor %}
            <hr>
            {% else %}
            <p><b>No MX record found</b></p>
            {% endif %}
            {% if zone_outcome[4] %}
            <br>
            <p><b>CNAMES:</b></p>
            {% for item in zone_outcome[4] %}
            <p><b>Active:</b> {{ item['active'] }}</p>
            <p><b>Name: </b>{{ item['name'] }}</p>
            <p><b>Target:</b> {{ item['target'] }}</p>
            <p><b>TTL:</b> {{ item['ttl'] }}</p>
            {% endfor %}
            <hr>
            {% else %}
            <p><b>No CNAMES records found</b></p>
            {% endif %}


    </div>
    {% endif %}
    {% endif %}
    </div>
    <div class="panel panel-success">
        <div class="panel panel-heading"><h5>Domain Resolution</h5></div>
        <div class="panel panel-body justify-content-center align-items-center"></div>
    </div>
    </div>
    </div>
{% endblock %}
