{% extends "bootstrap/base.html" %}
{% block title %}Akamai{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel panel-heading">Akamai Hits</div>
            <div class="panel panel-body">
        <form method="POST" action="">
                {{ form.csrf_token }}
            {{ form.domain_name.label }}
            {{ form.domain_name(size=15) }}
            {{ form.start_date.label }}
            {{ form.start_date }}
            {{ form.end_date.label }}
            {{ form.end_date }}

                {{ form.submit() }}
        </form>   
    </div>
    {% if message != '' %}
    {% if message == "Error! Start date is greater than End date" %}
    <div class="panel-body panel-danger text-center">
        {{ message }}
    </div>
    {% else %}
    <div class="panel-body text-center panel-success">
            <p class="text-center">{{ message }}</p>
    </div>
    {% endif %}
    {% endif %}

    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">Akamai Zone</div>
        <div class="panel panel-body">
            <h6>hello</h6>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
